@for(color of colorsVarCss; let i = $index; track i ) {
<article>
  <section class="palette">
    <h1>{{ color.name | titlecase }}</h1>
    <div class="container">
      @for(scale of color.values; let j = $index; track j ) {

      <div
        class="color"
        [ngStyle]="{ 'background-color': 'var(--' + scale + ')' }"
      >
        {{ scale }}
      </div>
      }
    </div>
  </section>
  <section class="components">
    <h1>Components</h1>
    <div class="container">
      <div class="component">
        <div class="component__header">Buttons</div>
        <div class="component__body">
          <button [class]="'button-' + color.name">
            {{ color.name | titlecase }}
          </button>
          <button [class]="'button-outline-' + color.name">
            {{ color.name | titlecase }}
          </button>
        </div>
      </div>
      <div class="component">
        <div class="component__header">Input</div>
        <div class="component__body">
          <span class="label-wrapper">
            <input
              [id]="'input-' + color.name"
              type="text"
              [class]="'input-' + color.name"
              placeholder=""
            />
            <label
              [for]="'input-' + color.name"
              [class]="'text-' + color.name"
              >{{ color.name | titlecase }}</label
            >
          </span>
          <span class="label-wrapper">
            <input
              [id]="'input-inverse-' + color.name"
              type="text"
              [class]="'input-inverse-' + color.name"
              placeholder=""
            />
            <label
              [for]="'input-inverse-' + color.name"
              [class]="'text-light-' + color.name"
              >{{ color.name | titlecase }}</label
            >
          </span>
        </div>
      </div>
    </div>
  </section>
</article>
}
