:host {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  background: linear-gradient(to right, #3498db, #fff);
}

aside {
  padding: 10px;
  background-color: #444;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: width 0.3s ease-in-out;
  width: 50px;
  &.expanded {
    width: 200px;
  }
}

main {
  padding: 10px;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}
