@import "./colors.scss";
@import "../utilities/mixins";

//? Base colors for app
$scale-colors: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950);
$scale-suffix: (
  100: "lightest",
  300: "light",
  600: "base",
  700: "dark",
  900: "darkest",
);

//* Light theme
$colors: (
  primary: "sky",
  secondary: "violet",
  tertiary: "teal",
  quaternary: "amber",
  success: "green",
  error: "red",
  warning: "yellow",
  info: "cyan",
  grey: 'gray',
);

:root {
  // Calculate scale colors
  @include createColorScales($colors, false);
}
