button,
.button {
  all: unset;
  padding: 7px 10px;
  border-radius: var(--border-radius-primary);
  box-shadow: var(--box-shadow-primary);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--silver);
  color: var(--silver-lightest);
  border: 1px solid var(--silver);
  &:active,
  &:focus {
    border: 1px solid var(--silver-darkest);
  }
  &:hover {
    border: 1px solid var(--silver);
    box-shadow: var(--box-shadow-primary), var(--box-shadow-secondary);
    background-color: var(--silver-dark);
  }
}

// Create button colors
@each $name, $color-value in $colors {
  .button-#{$name} {
    background-color: var(--#{$name});
    color: var(--#{$name}-lightest);
    border: 1px solid var(--#{$name});

    &:active,
    &:focus {
      border: 1px solid var(--#{$name}-darkest);
    }
    &:hover {
      border: 1px solid var(--#{$name});
      background-color: var(--#{$name}-dark);
    }
  }
  .button-outline-#{$name} {
    background-color: var(--#{$name}-lightest);
    color: var(--#{$name});
    border: 1px solid var(--#{$name});

    &:active,
    &:focus {
      border: 1px solid var(--#{$name}-lightest);
    }
    &:hover {
      color: var(--#{$name}-dark);
      border: 1px solid var(--#{$name}-dark);
      background-color: var(--#{$name}-light);
    }
  }
}
