button,
.button {
  all: unset;
  padding: 5px 10px;
  border-radius: var(--border-radius-primary);
  box-shadow: var(--box-shadow-primary);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--grey);
  color: var(--grey-lightest);
  border: 1px solid var(--grey);
  &:hover {
    box-shadow: var(--box-shadow-primary), var(--box-shadow-secondary);
    background-color: var(--grey-dark);
  }
}

// Create button colors
@each $name, $color-value in $colors {
  .button-#{$name} {
    background-color: var(--#{$name});
    color: var(--#{$name}-lightest);
    border: 1px solid var(--#{$name});

    &:hover {
      background-color: var(--#{$name}-dark);
    }
  }
}
