input,
.input {
  all: unset;
  display: grid;
  padding: 7px 10px;
  border-radius: var(--border-radius-primary);
  box-shadow: var(--box-shadow-primary);
  cursor: auto;
  transition: all 0.2s ease-in-out;
  background-color: var(--grey-lightest);
  color: var(--grey-darkest);
  border: 1px solid var(--grey-light);
  width: 100px;

  &:active,
  &:focus {
    border: 1px solid var(--grey);
    background-color: var(--grey-light);
  }
  &:hover {
    border: 1px solid var(--grey);
    box-shadow: var(--box-shadow-primary), var(--box-shadow-secondary);
    background-color: var(--grey-light);
  }
}

// Create input colors
@each $name, $color-value in $colors {
  .input-#{$name} {
    background-color: var(--#{$name}-lightest);
    color: var(--#{$name});
    border: 1px solid var(--#{$name});

    &:active,
    &:focus {
      border: 1px solid var(--#{$name});
      background-color: var(--#{$name}-light);
    }
    &:hover {
      border: 1px solid var(--#{$name}-dark);
      color: var(--#{$name});
      background-color: var(--#{$name}-light);
    }
  }
}
